<h1>Bombsheller</h1>
<h3>Customize your legs!</h3>

<%= render :partial => 'artworks/form' %>

<div id='mirror_option' style='display: none;'>
    Mirror image: <%= check_box_tag 'mirror' %>
</div>
</br>
<h2>Position, resize, and mirror image on leggings</h2>

<div class='left_wrapper'>
    <div id='left_rotation'></div>
    <div id='left_height'></div>
    <canvas id="left_leg" wdith="300" height="660"></canvas>
    <%= image_tag "left_leg.png", :size => "300x660", :id => "left_cover" %>
    <canvas id="left_cover_canvas" wdith="300" height="660"></canvas>
    <div id='left_width'></div>
</div>

<div class='right_wrapper'>
    <div id='right_rotation'></div>
    <div id='right_height'></div>
    <canvas id="right_leg"wdith="300" height="660"></canvas>
    <%= image_tag "right_leg.png", :size => "300x660", :id => "right_cover" %>
    <canvas id="right_cover_canvas"wdith="300" height="660"></canvas>
    <div id='right_width'></div>
</div>

<!-- <div class='model'></div> -->

<h2>Name your design</h2>
<%= render :partial => 'form' %>

<%= render :partial => 'transforms/left_form' %>
<%= render :partial => 'transforms/right_form' %>