<h1>Customize your legs</h1>

<%= render :partial => 'artworks/form' %>

<div id='mirror_option' style='display: none;'>
    Mirror image: <%= check_box_tag 'mirror' %>
</div>
</br>
<h2>Position the image on the leggings template</h2>

<div class='left_wrapper'>
    <canvas id="left_leg" wdith="300" height="660"></canvas>
    <%= image_tag "left_leg.png", :size => "300x660", :id => "left_cover" %>
    <canvas id="left_cover_canvas" wdith="300" height="660"></canvas>
</div>

<div class='right_wrapper'>
    <canvas id="right_leg"wdith="300" height="660"></canvas>
    <%= image_tag "right_leg.png", :size => "300x660", :id => "right_cover" %>
    <canvas id="right_cover_canvas"wdith="300" height="660"></canvas>
</div>

<!-- <div class='model'></div> -->

<h2>Name your design</h2>
<%= render :partial => 'form' %>

<%= render :partial => 'transforms/left_form' %>
<%= render :partial => 'transforms/right_form' %>