<%= form_for(@artwork, :url => artworks_path, :html => { :multipart => true}, :remote => true) do |f| %>
  <h2>Upload images (one per leg or mirrored)</h2>
  <% if @artwork.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@artwork.errors.count, "error") %> prohibited this artwork from being saved:</h2>

      <ul>
      <% @artwork.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class='field'>
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>
  <!-- <div class="field">
    <%= f.label :name, "Image Name (NOT design name)" %><br>
    <%= f.text_field :name %>
  </div> -->
  <div class='field'>
    <%= f.label :artist, "Art by (~16 characters max)" %>
    <%= f.text_field :artist %>
  </div>
  <div class='field'>
    <%= f.label :attribution, "Source Image URL (optional)" %>
    <%= f.text_field :attribution %>
  </div>
<!--   <div class="field">
    <%= f.label :locked, "Do NOT allow others to use this image (only possible if you own the copyright)" %><br>
    <%= f.check_box :locked %>
  </div> -->
  <div class="field">
    <%= f.label :leg, "Choose Your Leg" %><br>
    <%= select_tag(:leg, options_for_select([["Left", "left"], ["Right", 'right']]) ) %>
  </div>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <div class="actions">
    <%= f.submit "Upload Image", :id => 'upload' %>
  </div>
<% end %>
