<p id="notice"><%= notice %></p>

<p>
  <strong>Locked:</strong>
  <%= @artwork.locked %>
</p>

<p>
  <strong>Name:</strong>
  <%= @artwork.name %>
</p>

<p>
  <strong>Thumb:</strong>
  <%= image_tag @artwork.image.url(:thumb) %>
</p>

<%= link_to 'Edit', edit_artwork_path(@artwork) %> |
<%= link_to 'Back', artworks_path %>
